.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 247px;
    height: 384px;
    margin: 3% 2% 2% 2%;
    padding: 1%;
    p {
        font-family: 'Rubik', sans-serif;
        &.name-produсt {
            text-align: center;
        }
    }
    img {
        width: 100%;
    }
    .price {
        display: flex;
        justify-content: space-between;
        button {
            background-color: #ffffff;
            border: 4px double #7c7c7c;
            &:hover{
                background-color: #cccccc;
                border: 4px double #1b1b1b;
            }
        }
    }
    &:hover{
        outline: 2px solid #1b1b1b;
       // box-shadow: 0px 0px 11px 1px black;
    }
}