@font-face {
    font-family: 'PosteRetro';
    src: url('./fonts/PosteRetro.ttf');
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#root {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    a, h1 {
        text-decoration: none;
        color: #1b1b1b;
        text-align: center;
        font-family: 'PosteRetro';
    }
    .stall {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}